<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
  <title>{{$title}}</title>
  <meta charset="utf-8" />
  <meta name="author" content="Evan Krambuhl" />
  <meta name="description" content="The home of Evan Krambuhl on the internet: an Experience Developer and Designer" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="/assets/bundle.css" rel="stylesheet" />
</head>
<body>

<div id="app">{{$app}}</div>

<script src="/assets/bundle.js"></script>
</body>
</html>
